/* fonts */
@font-face {
  font-family: 'Lobster';
  src: url('Lobster-Regular.eot');
  src: url('Lobster-Regular.eot?#iefix') format('embedded-opentype'), url('Lobster-Regular.woff2') format('woff2'), url('Lobster-Regular.woff') format('woff'), url('Lobster-Regular.ttf') format('truetype'), url('Lobster-Regular.svg#Lobster-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
}
body {
  background-color: #fff;
  font-family: 'Lobster';
}
a,
a:hover {
  text-decoration: none;
}
.inner {
  position: relative;
  z-index: 3;
  color: #ffffff;
  min-height: 100vh;
}
.inner-logo {
  display: inline-table;
}
.inner-info {
  text-align: right;
  color: #ffffff;
}
.inner-info li {
  border: 1px solid #00c6ff;
  color: #ffffff;
  display: block;
  float: left;
  padding: 0.2rem 1.3rem;
  font-size: 1.1rem;
  border-radius: 17px;
  position: relative;
  text-decoration: none;
  margin-right: 0.8rem;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.inner-info li:hover {
  background: #00c6ff;
  cursor: pointer;
}
.inner-info ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  border-radius: 10px;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 0.2rem;
  left: 0;
  display: none;
}
.inner-info ul li:hover > ul,
.inner-info ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
.inner h1 {
  font-size: 2.5em;
  line-height: 1rem;
}
.inner h3 {
  display: inline-block;
}
.inner-title {
  text-align: center;
  margin-top: 20vh;
}
.inner .btn {
  color: #ffffff;
}
.header {
  background: url(../img/header-back.jpg) center no-repeat;
  background-size: cover;
}
.header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.button {
  color: #00c6ff;
  padding: 15px 20px;
  text-transform: uppercase;
  width: 350px;
  text-decoration: none;
  text-align: center;
  margin: 30px 0;
  display: block;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(50%, transparent), color-stop(50%, #00c6ff), to(#00c6ff));
  background-image: linear-gradient(to left, transparent, transparent 50%, #00c6ff 50%, #00c6ff);
  background-position: 100% 0;
  background-size: 200% 100%;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  font: 400 18px tahoma;
  border: 1px solid #00C6FF;
}
.button:hover {
  background-position: 0 0;
  color: #fff;
}
.aboutus {
  background-color: #ffffff;
  color: #00c6ff;
}
